



/*------------------------------------------------------------------special paddings, positions*/
.project-card-icon {
    text-decoration: none;
    color: black;
}

.sub_btn {
    text-align: left;
}

.add_btn {
    text-align: right;
}

#btnAddprojectCategory {
    position: relative;
    top: -50px;
}



