/*------------------------------------------------------------------colors, bg-colors*/
.nav-text-color-mobile {
    color: white;
}

.button-color {
    color: #7986cb;
}



/*------------------------------------------------------------------special paddings, positions*/
.projects-wrapper {
    margin-left: 20px;
    margin-right: 20px
}

.project-cards {
    min-height: 300px;
}

.project-card-img {
    max-height: 150px;
    object-fit: cover;
}

.project-card-icon {
    text-decoration: none;
    color: black;
    bottom: 3px;
}

.title-add-project {
    position: absolute;
    text-align: center;
}

.btn-add-project {
    margin: 0 auto;
}

.show-cases-project-description {
    margin: 20px;
}



/*------------------------------------------------------------------index*/
.card-add-project {
    
}