{% extends "base.html" %} {% block content%}



<div class="container">
    <h4>{{project.project}}</h4>
    <h5>Edit project categories</h5>

    <div class="row">
        <form class="col s12" method="POST">
            <input type="hidden" name="project" value={{project.project}}> 
            
            {%for key, value in project.items() %} {% if key == "description" %}

            <div class="input-field col s12">
                <textarea placeholder="text" id="new_category" type="text" class="materialize-textarea" name="{{key}}" maxlength="150">{{value}}</textarea>
                <label for="new_category">{{key}}</label>
            </div>

            {% elif key != "_id" and key!="project"%}

                <div class="input-field col s12">
                    <input placeholder="text" id="new_project" type="text" class="validate" name={{key}} value={{value}}>
                    <label for="new_project">Category</label>
                </div>
      

            {% endif %} {% endfor %}

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
            </button>
            </div>
        </form>
    </div>
</div>


{% endblock%}
