{% extends "base.html" %} {% block content%}

<div class="container">
    <div class="row center-align">
        <h4>Projects</h4>
    </div>
    <div class="row">
        {% for project in projects%}
        <a href="{{url_for('show_cases', project_id=project._id, project_name=project.project)}}">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/test.jpg') }}">
                        <span class="card-title">{{project.project}}</span>
                        <a href="{{url_for('add_case', project_id=project._id, project_title=project.project)}}" class="indigo lighten-2 btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{project.description}}</p>
                    </div>
                    <div class=right-align>
                        <a class="project-card-icon" href="{{url_for('edit_project', project_id=project._id, project_title=project.project)}}"><i class="small material-icons">edit</i></a>
                        <a class="project-card-icon" href="{{url_for('edit_project', project_id=project._id, project_title=project.project)}}"><i class="small material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>{% endblock%}
